Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok

Deprecate more APIs (#3949)
  src/torchaudio/__init__.py
  src/torchaudio/utils/download.py
  src/torchaudio/utils/sox_utils.py
  src/torio/io/_streaming_media_decoder.py
  src/torio/utils/ffmpeg_utils.py
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Add IO warning for functionality moved to TorchCodec (#3950)
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
Owners: @pytorch/team-audio-core

Add missing deprecations for classes and constants in the prototypes directory (#3953)
  docs/source/prototype.rst
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/prototype/datasets/musan.py
  src/torchaudio/prototype/models/__init__.py
  src/torchaudio/prototype/models/_conformer_wav2vec2.py
  src/torchaudio/prototype/models/conv_emformer.py
  src/torchaudio/prototype/models/hifi_gan.py
  src/torchaudio/prototype/models/rnnt_decoder.py
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_impl.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_pipeline.py
  src/torchaudio/prototype/pipelines/hifigan_pipeline.py
  src/torchaudio/prototype/transforms/_transforms.py
Owners: @pytorch/team-audio-core, @mthrok

Deprecate IO classes specially (#3951)
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
  src/torchaudio/transforms/__init__.py
Owners: @pytorch/team-audio-core

Update deprecation wording, add warnings to main pages (#3955)
  README.md
  docs/source/index.rst
  docs/source/io.rst
  docs/source/kaldi_io.rst
  docs/source/libtorio.rst
  docs/source/libtorio.stream_reader.rst
  docs/source/libtorio.stream_writer.rst
  docs/source/prototype.datasets.rst
  docs/source/prototype.functional.rst
  docs/source/prototype.models.rst
  docs/source/prototype.pipelines.rst
  docs/source/prototype.rst
  docs/source/prototype.transforms.rst
  docs/source/sox_effects.rst
  docs/source/torchaudio.rst
  docs/source/torio.io.rst
  docs/source/torio.rst
  docs/source/torio.utils.rst
  docs/source/utils.rst
  examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  examples/tutorials/filter_design_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
  examples/tutorials/oscillator_tutorial.py
  examples/tutorials/streamreader_advanced_tutorial.py
  examples/tutorials/streamreader_basic_tutorial.py
  examples/tutorials/streamwriter_advanced.py
  examples/tutorials/streamwriter_basic_tutorial.py
  examples/tutorials/subtractive_synthesis_tutorial.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/utils/sox_utils.py
  src/torio/utils/ffmpeg_utils.py
Owners: @pytorch/team-audio-core, @mthrok

Add back documentation for tutorials with DeepPhonemizer fix (#3952)
  .github/workflows/build_docs.yml
  docs/source/conf.py
  src/torchaudio/pipelines/_tts/utils.py
Owners: @pytorch/team-audio-core

Move lfilter autograd logic to Python
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

2025-07-03 nightly release (70caf76066ef2c1054d6128b11769dc816a779e7)
  README.md
  docs/source/index.rst
  docs/source/io.rst
  docs/source/kaldi_io.rst
  docs/source/libtorio.rst
  docs/source/libtorio.stream_reader.rst
  docs/source/libtorio.stream_writer.rst
  docs/source/prototype.datasets.rst
  docs/source/prototype.functional.rst
  docs/source/prototype.models.rst
  docs/source/prototype.pipelines.rst
  docs/source/prototype.rst
  docs/source/prototype.transforms.rst
  docs/source/sox_effects.rst
  docs/source/torchaudio.rst
  docs/source/torio.io.rst
  docs/source/torio.rst
  docs/source/torio.utils.rst
  docs/source/utils.rst
  examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  examples/tutorials/filter_design_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
  examples/tutorials/oscillator_tutorial.py
  examples/tutorials/streamreader_advanced_tutorial.py
  examples/tutorials/streamreader_basic_tutorial.py
  examples/tutorials/streamwriter_advanced.py
  examples/tutorials/streamwriter_basic_tutorial.py
  examples/tutorials/subtractive_synthesis_tutorial.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/utils/sox_utils.py
  src/torio/utils/ffmpeg_utils.py
Owners: @pytorch/team-audio-core, @mthrok

Add missing deprecations
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Use class deprecations rather than function ones for cutc
  src/torchaudio/models/decoder/__init__.py
Owners: @pytorch/team-audio-core

Make torchscript tests pass
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Fix `FutureWarning: functools.partial` in Python 3.13
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/info_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/load_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/save_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/info_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/load_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/info_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/load_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/roundtrip_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/smoke_test.py
Owners: @pytorch/team-audio-core

Fix `TypeError: LRScheduler.__init__()` with PyTorch 2.7
  examples/asr/emformer_rnnt/common.py
  examples/asr/librispeech_conformer_rnnt/lightning.py
  examples/asr/librispeech_conformer_rnnt_biasing/lightning.py
  examples/avsr/schedulers.py
  examples/hubert/lightning_modules.py
  examples/self_supervised_learning/lr_schedulers/_linear_decay.py
Owners: @hwangjeff, @mpc001, @nateanl

Fix `ValueError: bad delimiter value` in Python 3.13
  src/torchaudio/datasets/cmuarctic.py
Owners: @pytorch/team-audio-core

Add comments
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Add missing deprecations (#3959)
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/models/decoder/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Add missing deprecations (#3959)
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/models/decoder/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Add missing deprecations (#3959) (#3960)
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/models/decoder/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

2025-07-08 nightly release (a3fe94e70dd3304fd491ed708addf196e3ac267c)
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/models/decoder/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

remove dep warnings for lfilter and overdrive
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Fix
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

remove dep warnings for lfilter and overdrive (#3961)
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

remove dep warnings for lfilter and overdrive (#3961)
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Use torchcodec for loading
  requirements.txt
  src/torchaudio/datasets/cmuarctic.py
  src/torchaudio/datasets/commonvoice.py
  src/torchaudio/datasets/dr_vctk.py
  src/torchaudio/datasets/gtzan.py
  src/torchaudio/datasets/librilight_limited.py
  src/torchaudio/datasets/libritts.py
  src/torchaudio/datasets/ljspeech.py
  src/torchaudio/datasets/musdb_hq.py
  src/torchaudio/datasets/tedlium.py
  src/torchaudio/datasets/utils.py
  src/torchaudio/datasets/vctk.py
  src/torchaudio/datasets/yesno.py
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Add torchcodec to CI installer
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

remove dep warnings for lfilter and overdrive (#3961) (#3963)
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Test torchcodec installation
  .github/scripts/unittest-linux/install.sh
  .github/workflows/unittest-linux-cpu.yml
Owners: @pytorch/team-audio-core

dont even build audio
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Try ffmpeg 4.4.2
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

force ffmpeg<5
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

UGH
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Put back building torchaudio
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Put back rest of dependencies, and run tests
  .github/scripts/unittest-linux/install.sh
  .github/workflows/unittest-linux-cpu.yml
Owners: @pytorch/team-audio-core

2025-07-10 nightly release (6c57850358f34c47802db216b0746e4e9d08a95a)
  src/torchaudio/functional/filtering.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Ignore tests with ffmpeg bugs
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Move pytest import
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Write torch.ops.torchaudio._lfilter in Python
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Remove autograd from FIR
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Remove autograd from IIR
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Load torchcodec lazily
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core
