Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Revert "Try ffmpeg>4"
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Revert torchcodec installation changes
  .github/scripts/unittest-linux/install.sh
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Install numpy first
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove sox utils test
  .github/scripts/unittest-linux/install.sh
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core

Revert "Install numpy first"
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Use existing wav_utils
  src/torchaudio/__init__.py
  src/torchaudio/utils/wav_utils.py
  test/torchaudio_unittest/common_utils/__init__.py
Owners: @pytorch/team-audio-core

Remove _backend folder
  src/torchaudio/__init__.py
  src/torchaudio/_backend/__init__.py
  src/torchaudio/_backend/backend.py
  src/torchaudio/_backend/common.py
  src/torchaudio/_backend/ffmpeg.py
  src/torchaudio/_backend/soundfile.py
  src/torchaudio/_backend/soundfile_backend.py
  src/torchaudio/_backend/sox.py
  src/torchaudio/_backend/utils.py
  src/torchaudio/backend/__init__.py
  src/torchaudio/backend/_no_backend.py
  src/torchaudio/backend/_sox_io_backend.py
  src/torchaudio/backend/common.py
  src/torchaudio/backend/no_backend.py
  src/torchaudio/backend/soundfile_backend.py
  src/torchaudio/backend/sox_io_backend.py
Owners: @pytorch/team-audio-core

Support frame_offset and num_frames in load hack
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Use rand instead of randn for test_save_channels_first
  test/torchaudio_unittest/test_load_save_torchcodec.py
Owners: @pytorch/team-audio-core

Cleanup pip install steps
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

cleanup cpu pip install steps
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove dependencies from doc job
  .github/workflows/build_docs.yml
  docs/requirements.txt
  docs/source/conf.py
Owners: @pytorch/team-audio-core

fix
  docs/Makefile
Owners: @pytorch/team-audio-core

cleanup cpu pip install steps (#4042)
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove gpu test installs (#4038)
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

2025-08-14 nightly release (f92ceca80df7a36194468665d62b0f791b1826c5)
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-gpu.yml
  docs/requirements-tutorials.txt
  examples/tutorials/audio_feature_extractions_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Remove pytest-aware code in src
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Remove torchcodec version check
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Add decoder to autodoc_mock_imports
  docs/source/conf.py
Owners: @pytorch/team-audio-core

Fix bugs in torchcodec mock
  test/conftest.py
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/wav_utils.py
  test/torchcodec/decoders.py
  test/torchcodec/encoders.py
Owners: @pytorch/team-audio-core

Skip test_load_save_torchcodec
  test/torchaudio_unittest/test_load_save_torchcodec.py
Owners: @pytorch/team-audio-core

Removing device: torch.device
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
Owners: @mthrok

Disable all ctc_decoder tutorials
  docs/source/conf.py
Owners: @pytorch/team-audio-core

Correct call to pytest skip
  test/torchaudio_unittest/test_load_save_torchcodec.py
Owners: @pytorch/team-audio-core

Install numpy first
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove torchcodec installation
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove torchcodec version check
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

WIP
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/workspace.h
Owners: @pytorch/team-audio-core

Remove debugging statements
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/workspace.h
Owners: @pytorch/team-audio-core

Add length check
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/gpu/compute.cu
Owners: @pytorch/team-audio-core

Enable sox tests (#4040)
  .github/scripts/unittest-linux/run_test.sh
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core

Add torchcodec to build installation
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Remove redundant wav_utils
  src/torchaudio/utils/wav_utils.py
Owners: @pytorch/team-audio-core

2025-08-16 nightly release (02351a683668dd65bc82343e55245e308eb97b4e)
  .github/scripts/unittest-linux/run_test.sh
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core

[Torchaudio] allow masked_value to be tensor (#4015)
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/functional_impl.py
Owners: @pytorch/team-audio-core

remove sys
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Add comments
  test/conftest.py
  test/torchcodec/decoders.py
  test/torchcodec/encoders.py
Owners: @pytorch/team-audio-core

clarify comment
  test/torchaudio_unittest/test_load_save_torchcodec.py
Owners: @pytorch/team-audio-core

Let `torchaudio.load()` and `torchaudio.save()` rely on `load_with_torchcodec()` and `save_with_torchcodec()`. (#4039)
  .github/scripts/unittest-linux/install.sh
  .github/workflows/build_docs.yml
  src/torchaudio/__init__.py
  test/conftest.py
  test/torchaudio_unittest/test_load_save_torchcodec.py
  test/torchcodec/decoders.py
  test/torchcodec/encoders.py
Owners: @pytorch/team-audio-core

Try reversion of change to numpy install order
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
