Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Change capitalization of 'true'
  .github/scripts/unittest-windows/run_test.sh
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Use pearu's fix for miniconda
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Try to source script so that environment variables get seen
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Revert "Use pearu's fix for miniconda"
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Fix missing conda wrap
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Fix cuda wheel url
  .github/scripts/unittest-windows/install.sh
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Allow cpu tests to skip ctc
  .github/workflows/unittest-windows-cpu.yml
Owners: @pytorch/team-audio-core

Allow skipping for missing modules
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Remove BUILD_SOX and BUILD_KALI within examples
  examples/libtorchaudio/README.md
  examples/libtorchaudio/build.sh
  examples/libtorchaudio/speech_recognition/README.md
Owners: @pytorch/team-audio-core

Fix typo
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Allow skipping cuda CTC decoder
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Use conda activate instead of conda run
  .github/scripts/unittest-windows/install.sh
  .github/scripts/unittest-windows/run_test.sh
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Add README to examples directory (#4086)
  examples/README.md
  examples/libtorchaudio/CMakeLists.txt
  examples/libtorchaudio/README.md
  examples/libtorchaudio/build.sh
  examples/libtorchaudio/speech_recognition/README.md
  examples/self_supervised_learning/data_modules/__init__.py
Owners: @pytorch/team-audio-core, @nateanl

Revert "Use conda activate instead of conda run"
  .github/scripts/unittest-windows/install.sh
  .github/scripts/unittest-windows/run_test.sh
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Export CUBLAs workspace config for deterministic behavior
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Fix installing torch
  .github/scripts/unittest-windows/install.sh
  .github/workflows/unittest-linux-cpu.yml
Owners: @pytorch/team-audio-core

Clean up. Enable windows gpu workflow.
  .github/scripts/unittest-windows/install.sh
  .github/scripts/unittest-windows/setup_env.sh
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Use CONDA_QUIET=1
  .github/scripts/unittest-windows/install.sh
  .github/scripts/unittest-windows/setup_env.sh
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Fix LoadHIP handling of environment variable paths on Windows. (#3991)
  cmake/LoadHIP.cmake
Owners: @pytorch/team-audio-core

Use Python 3.10 to get newer numpy
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

windows: skip linux tests + test_mvdr_weights_rtf
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Use numpy from pypi.
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

windows: skip test_mvdr_weights
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

windows: skip non-functional
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Use CUBLAS_WORKSPACE_CONFIG to enable deterministic behavior in tests
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Run only test_mvdr_weights tests
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Enable all linux tests
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

2025-09-04 nightly release (2e300559e4e123928a22187b8f59a5b56f57ddc8)
  cmake/LoadHIP.cmake
  examples/README.md
  examples/libtorchaudio/CMakeLists.txt
  examples/libtorchaudio/README.md
  examples/libtorchaudio/build.sh
  examples/libtorchaudio/speech_recognition/README.md
  examples/self_supervised_learning/data_modules/__init__.py
Owners: @pytorch/team-audio-core, @nateanl

Skip librosa tests
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Restore non-functional tests
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Remove dropping_support
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/__init__.py
  src/torchaudio/transforms/_transforms.py
  src/torchaudio/utils/download.py
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Note references to torchaudio.info
  examples/dnn_beamformer/README.md
  examples/hubert/README.md
Owners: @nateanl

Remove image_utils and PIL reference
  CONTRIBUTING.md
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/image_utils.py
Owners: @pytorch/team-audio-core

Clarify load and save behavior
  docs/source/torchaudio.rst
Owners: @pytorch/team-audio-core

Add allow-skip variables from PR4059.
  .github/scripts/unittest-windows/environment.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Add TORCHAUDIO_TEST_ALLOW_SKIP_IF_NO_QUANTIZATION=true
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Try installing miniconda rather than using old installation
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Use miniforge rather than miniconda
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Install pip
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Conda install numpy for docs
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
