Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Temporarily use --extra-index-url
  .github/scripts/unittest-linux/install.sh
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

[STABLE ABI] Port lfilter
  src/libtorchaudio/iir_cuda.cu
  src/libtorchaudio/iir_cuda.h
  src/libtorchaudio/lfilter.cpp
  src/libtorchaudio/stable/ops.h
  src/libtorchaudio/utils.h
Owners: @pytorch/team-audio-core

[STABLE ABI] Eliminate C10 and ATen dependencies.
  src/libtorchaudio/rnnt/cpu/cpu_kernels.h
  src/libtorchaudio/rnnt/cpu/cpu_transducer.h
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/gpu/half.cuh
  src/libtorchaudio/rnnt/workspace.h
  src/libtorchaudio/utils.cpp
Owners: @pytorch/team-audio-core

rebase
  .github/scripts/unittest-linux/install.sh
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
  src/libtorchaudio/iir_cuda.cu
Owners: @pytorch/team-audio-core

Re-enable device guard
  src/libtorchaudio/iir_cuda.cu
Owners: @pytorch/team-audio-core

[STABLE ABI] Eliminate C10 and ATen dependencies. (#4137)
  src/libtorchaudio/rnnt/cpu/cpu_kernels.h
  src/libtorchaudio/rnnt/cpu/cpu_transducer.h
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/gpu/half.cuh
  src/libtorchaudio/rnnt/workspace.h
  src/libtorchaudio/utils.cpp
Owners: @pytorch/team-audio-core

[STABLE ABI] Port lfilter (#4135)
  src/libtorchaudio/iir_cuda.cu
  src/libtorchaudio/iir_cuda.h
  src/libtorchaudio/lfilter.cpp
  src/libtorchaudio/stable/ops.h
  src/libtorchaudio/utils.h
Owners: @pytorch/team-audio-core

2025-12-02 nightly release (e90a3986cbebd57a5ad08b6813e2c7ff199cdbe0)
  .github/scripts/unittest-windows/setup_env.sh
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
  src/libtorchaudio/iir_cuda.cu
  src/libtorchaudio/iir_cuda.h
  src/libtorchaudio/lfilter.cpp
  src/libtorchaudio/rnnt/cpu/cpu_kernels.h
  src/libtorchaudio/rnnt/cpu/cpu_transducer.h
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/gpu/half.cuh
  src/libtorchaudio/rnnt/workspace.h
  src/libtorchaudio/stable/ops.h
  src/libtorchaudio/utils.cpp
  src/libtorchaudio/utils.h
Owners: @pytorch/team-audio-core

Undo retrieve.
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

ping
  README.md
Owners: @pytorch/team-audio-core

Undo use --extra-index-url
  .github/scripts/unittest-linux/install.sh
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

ping
  README.md
Owners: @pytorch/team-audio-core

Use stableivalue_conversions from torch PR 168155
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

ping
  README.md
Owners: @pytorch/team-audio-core

[DO NOT MERGE] Test
  README.md
Owners: @pytorch/team-audio-core

retrive Deprecated.h from torch PR
  .github/scripts/unittest-windows/install.sh
  README.md
Owners: @pytorch/team-audio-core

Grab stableivalue_conversions.h from torch main
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Temporarily use --extra-index-url
  .github/scripts/unittest-linux/install.sh
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Test torch PR 169475
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Change CUDA 12.9 to 12.8 in linux workflows.
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Change CUDA 12.9 to 12.8 in linux workflows. (#4141)
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

2025-12-04 nightly release (ffaeefe78cf217e224b6e9f5b2366550aba7377f)
  .github/workflows/docs.yaml
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

[STABLE ABI] Eliminate torch/extension.h dependency
  src/libtorchaudio/pybind/pybind.cpp
Owners: @pytorch/team-audio-core

[STABLE ABI] Eliminate torch/extension.h dependency (#4143)
  src/libtorchaudio/pybind/pybind.cpp
Owners: @pytorch/team-audio-core

Fixed spelling in forced_alignment_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
Owners: @mthrok

Revert "Add dual s3/r2 upload to torchaudio (#4127)"
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Owners: @pytorch/team-audio-core

Revert "Add dual s3/r2 upload to torchaudio (#4127)" (#4144)
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Owners: @pytorch/team-audio-core

Fixed spelling in forced_alignment_tutorial.py (#3934)
  examples/tutorials/forced_alignment_tutorial.py
Owners: @mthrok

[STABLE ABI] Eliminate Device.h
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/stable/Device.h
  src/libtorchaudio/stable/ops.h
Owners: @pytorch/team-audio-core

[STABLE ABI] Eliminate Device.h (#4145)
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/stable/Device.h
  src/libtorchaudio/stable/ops.h
Owners: @pytorch/team-audio-core

Eliminate sizes, strides, mutable_data_ptr, const_data_ptr ops
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/stable/ops.h
Owners: @pytorch/team-audio-core

Eliminate new_zeros
  src/libtorchaudio/forced_align/cpu/compute.cpp
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/stable/ops.h
  src/libtorchaudio/utils.h
Owners: @pytorch/team-audio-core

[STABLE ABI] Eliminate sizes, strides, mutable_data_ptr, const_data_ptr, new_zeros ops (#4146)
  src/libtorchaudio/forced_align/cpu/compute.cpp
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/stable/ops.h
  src/libtorchaudio/utils.h
Owners: @pytorch/team-audio-core

Eliminate include c10/cuda/CUDAException.h
  src/libtorchaudio/iir_cuda.cu
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/stable/ops.h
Owners: @pytorch/team-audio-core

Add libtorchaudio::cuda::getCurrentCUDAStream
  src/libtorchaudio/cuda_utils.h
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/stable/ops.h
Owners: @pytorch/team-audio-core

Clean up
  src/libtorchaudio/cuda_utils.h
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/shim_temporary.h
Owners: @pytorch/team-audio-core

Disable shim_temporary.h
  src/libtorchaudio/cuda_utils.h
Owners: @pytorch/team-audio-core

Eliminate ATen/cuda/CUDAContext.h and c10/cuda/CUDAGuard.h
  src/libtorchaudio/cuda_utils.h
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/iir_cuda.cu
Owners: @pytorch/team-audio-core

Add temporary shim functions.
  src/libtorchaudio/cuda_utils.h
  src/libtorchaudio/shim_temporary.h
Owners: @pytorch/team-audio-core

2025-12-06 nightly release (06776f882fdb871fc8ec27f3693e09480f971c0a)
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
  examples/tutorials/forced_alignment_tutorial.py
  src/libtorchaudio/forced_align/cpu/compute.cpp
  src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/pybind/pybind.cpp
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/stable/Device.h
  src/libtorchaudio/stable/ops.h
  src/libtorchaudio/utils.h
Owners: @pytorch/team-audio-core, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
