Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Use non-sox deprecated value for xfail deprecation test
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Enable Sox build
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Fix arguments to torchscript deprecation test
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Add sox testing
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Remove hubert test
  test/torchaudio_unittest/example/hubert/__init__.py
Owners: @pytorch/team-audio-core

Remove deps from linux-gpu and windows installs
  .github/scripts/unittest-windows/environment.yml
  .github/scripts/unittest-windows/install.sh
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Remove sox utils
  src/torchaudio/utils/__init__.py
  src/torchaudio/utils/sox_utils.py
Owners: @pytorch/team-audio-core

Revert "Enable Sox build"
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Re-generate kaldi expected results
  test/torchaudio_unittest/assets/kaldi_expected_results/test/torchaudio_unittest/functional/kaldi_compatibility_test.py__TestKaldiFloat32__test_sliding_window_cmn.pt
  test/torchaudio_unittest/assets/kaldi_expected_results/test/torchaudio_unittest/functional/kaldi_compatibility_test.py__TestKaldiFloat64__test_sliding_window_cmn.pt
Owners: @pytorch/team-audio-core

Add comment and tighten sox testing spec
  .github/scripts/unittest-linux/run_test.sh
  src/torchaudio/_internal/module_utils.py
Owners: @pytorch/team-audio-core

Remove comparison deps and skipIfs
  .github/scripts/unittest-linux/install.sh
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/case_utils.py
  test/torchaudio_unittest/compliance/kaldi/kaldi_compatibility_impl.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
  test/torchaudio_unittest/functional/kaldi_compatibility_test_impl.py
  test/torchaudio_unittest/functional/sox_compatibility_test.py
  test/torchaudio_unittest/transforms/sox_compatibility_test.py
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core

Move sklearn import inside kmeans training function
  examples/hubert/utils/kmeans.py
  test/torchaudio_unittest/example/hubert/__init__.py
Owners: @nateanl, @pytorch/team-audio-core

Remove unnecessary installations
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove gpu test installs
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Remove comparison dependencies and skipIfs (#4031)
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
  .github/scripts/unittest-windows/environment.yml
  .github/scripts/unittest-windows/install.sh
  .github/workflows/unittest-linux-gpu.yml
  examples/hubert/utils/kmeans.py
  src/torchaudio/_internal/module_utils.py
  test/torchaudio_unittest/assets/kaldi_expected_results/test/torchaudio_unittest/functional/kaldi_compatibility_test.py__TestKaldiFloat32__test_sliding_window_cmn.pt
  test/torchaudio_unittest/assets/kaldi_expected_results/test/torchaudio_unittest/functional/kaldi_compatibility_test.py__TestKaldiFloat64__test_sliding_window_cmn.pt
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/case_utils.py
  test/torchaudio_unittest/compliance/kaldi/kaldi_compatibility_impl.py
  test/torchaudio_unittest/deprecation_test.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
  test/torchaudio_unittest/functional/kaldi_compatibility_test_impl.py
  test/torchaudio_unittest/functional/sox_compatibility_test.py
  test/torchaudio_unittest/transforms/sox_compatibility_test.py
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core, @nateanl

WIP
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/workspace.h
Owners: @pytorch/team-audio-core

Remove unnecessary import of librosa
  examples/tutorials/audio_feature_extractions_tutorial.py
Owners: @mthrok

install torchcodec in doc job
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Let load and save rely on *_with_torchcodec
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Add docstring and arguments for load and save
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

WIP
  src/libtorchaudio/rnnt/gpu/compute.cu
  src/libtorchaudio/rnnt/workspace.h
Owners: @pytorch/team-audio-core

2025-08-13 nightly release (bc3de078e5a99d8f733b1e1cbfbdec112b3e0e06)
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
  .github/scripts/unittest-windows/environment.yml
  .github/scripts/unittest-windows/install.sh
  .github/workflows/unittest-linux-gpu.yml
  examples/hubert/utils/kmeans.py
  examples/tutorials/tacotron2_pipeline_tutorial.py
  src/torchaudio/_internal/module_utils.py
  test/torchaudio_unittest/assets/kaldi_expected_results/test/torchaudio_unittest/functional/kaldi_compatibility_test.py__TestKaldiFloat32__test_sliding_window_cmn.pt
  test/torchaudio_unittest/assets/kaldi_expected_results/test/torchaudio_unittest/functional/kaldi_compatibility_test.py__TestKaldiFloat64__test_sliding_window_cmn.pt
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/case_utils.py
  test/torchaudio_unittest/compliance/kaldi/kaldi_compatibility_impl.py
  test/torchaudio_unittest/deprecation_test.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
  test/torchaudio_unittest/functional/kaldi_compatibility_test_impl.py
  test/torchaudio_unittest/functional/sox_compatibility_test.py
  test/torchaudio_unittest/transforms/sox_compatibility_test.py
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core, @nateanl, @mthrok

Remove external dependencies for tutorials (#4030)
  docs/requirements-tutorials.txt
  examples/tutorials/audio_feature_extractions_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Revise docstring
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Add typing imports
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Allow skip for no demucs
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Set CTC Decoder skipping
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Try ffmpeg>4
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Remove pillow install
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Install conda deps before pip deps
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Make the test env variable lower case
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Add scipy hack for load and save
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Add extra module skips
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Enable Sox build
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Only import scipy during testing
  .github/scripts/unittest-linux/install.sh
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Updated device-agnostic code on tutorials
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
Owners: @mthrok

Rolled back changes
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
Owners: @mthrok

Updated device-agnostic code on tutorials
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
Owners: @mthrok

Remove unnecessary installations for linux CPU test (#4037)
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Revert "Install conda deps before pip deps"
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
