Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

[Codemod][CppQualityCommon] Fix CQS signal facebook-unused-include-check in fbcode/pytorch/audio/src/libtorio/ffmpeg/stream_reader [B] (#3941)
  src/libtorio/ffmpeg/stream_reader/stream_reader.cpp
Owners: @pytorch/team-audio-core

[Codemod][CppQualityCommon] Fix CQS signal facebook-unused-include-check in fbcode/pytorch/audio/src/libtorio/ffmpeg/stream_reader [A] (#3940)
  src/libtorio/ffmpeg/stream_reader/stream_processor.cpp
Owners: @pytorch/team-audio-core

[Codemod][CppQualityCommon] Fix CQS signal facebook-unused-include-check in fbcode/pytorch/audio/src/libtorio/ffmpeg/stream_reader [A]
  src/libtorio/ffmpeg/stream_reader/stream_processor.cpp
Owners: @pytorch/team-audio-core

2025-06-17 nightly release (4e94321c54617dd738a05bfedfc28bc0fa635b5c)
  src/libtorio/ffmpeg/stream_reader/stream_processor.cpp
Owners: @pytorch/team-audio-core

Disable tests for deprecated functionality
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-cpu.yml
  test/torchaudio_unittest/prototype/functional/librosa_compatibility_test_impl.py
  test/torchaudio_unittest/prototype/functional/pyroomacoustics_compatibility_test.py
Owners: @pytorch/team-audio-core

Pip install librosa
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Avoid testing torchscript on deprecated functions
  test/torchaudio_unittest/common_utils/func_utils.py
  test/torchaudio_unittest/prototype/functional/librosa_compatibility_test_impl.py
  test/torchaudio_unittest/prototype/functional/pyroomacoustics_compatibility_test.py
Owners: @pytorch/team-audio-core

Chmod 777 on tmp
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-cpu.yml
Owners: @pytorch/team-audio-core

Move deprecation in rnnt_loss transform to init
  src/torchaudio/functional/__init__.py
  src/torchaudio/transforms/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/common_utils/func_utils.py
Owners: @pytorch/team-audio-core

Test unwrapped rnnt_loss for torchscript
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core

Cast PosixPaths to str for sox
  src/torchaudio/_backend/sox.py
Owners: @pytorch/team-audio-core

Install omegaconf
  .github/scripts/unittest-linux/install.sh
  .github/workflows/unittest-linux-cpu.yml
Owners: @pytorch/team-audio-core

Remove librosa comment
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Skip apply_codec test
  test/torchaudio_unittest/functional/functional_cpu_test.py
Owners: @pytorch/team-audio-core

Remove unsupported verbose flag
  examples/asr/emformer_rnnt/common.py
Owners: @hwangjeff

Patch fairseq
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Expand approximate equality bound
  test/torchaudio_unittest/models/wav2vec2/fairseq_integration_test.py
Owners: @pytorch/team-audio-core

Correct sed expression
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Patch fairseq after checkout
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

Skip ffmpeg
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Allow skip if no ffmpeg
  .github/workflows/unittest-linux-cpu.yml
Owners: @pytorch/team-audio-core

Disable fairseq tests
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Remove extra pytest args
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Disable last failing test
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Remove test coverage running
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Add quote
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

[Codemod][CppQualityCommon] Fix CQS signal performance-faster-string-find in fbcode/pytorch/audio/src/libtorchaudio/sox
  src/libtorchaudio/sox/utils.cpp
Owners: @pytorch/team-audio-core

[Codemod][CppQualityCommon] Fix CQS signal performance-faster-string-find in fbcode/pytorch/audio/src/libtorchaudio/sox
  src/libtorchaudio/sox/utils.cpp
Owners: @pytorch/team-audio-core

Try to avoid patching fairseq
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
  test/torchaudio_unittest/models/wav2vec2/fairseq_integration_test.py
Owners: @pytorch/team-audio-core

skip hdemucs tests
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

2025-06-25 nightly release (cb90ceaeb1cf56f5fa85b983611ad5723ebaffc3)
  src/libtorchaudio/sox/utils.cpp
Owners: @pytorch/team-audio-core

Disable tests for deprecated functionality (#3942)
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-cpu.yml
  examples/asr/emformer_rnnt/common.py
  src/torchaudio/_backend/sox.py
  src/torchaudio/functional/__init__.py
  src/torchaudio/transforms/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core, @hwangjeff

Rework LoadHIP.cmake to be based purely on CMAKE_PREFIX_PATH.
  cmake/LoadHIP.cmake
Owners: @pytorch/team-audio-core

Put back doc build job
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Fix install?
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Unpin sphinxcontrib.bibtex
  docs/requirements.txt
Owners: @pytorch/team-audio-core

2025-06-26 nightly release (3d6531348c68e096befe7bd8d4d4114d57c0acd5)
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-cpu.yml
  examples/asr/emformer_rnnt/common.py
  src/torchaudio/_backend/sox.py
  src/torchaudio/functional/__init__.py
  src/torchaudio/transforms/__init__.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
  test/torchaudio_unittest/functional/torchscript_consistency_impl.py
Owners: @pytorch/team-audio-core, @hwangjeff

don't build gallery of examples
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Put back doc build job (#3946)
  .github/workflows/build_docs.yml
  docs/requirements.txt
Owners: @pytorch/team-audio-core

Build back tutorials
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
