Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Make sure deprecated prototypes are tested, add torchscript test
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Deprecate more stuff
  src/torchaudio/__init__.py
Owners: @pytorch/team-audio-core

Skip examples/tutorials/tacotron2_pipeline_tutorial.py ?
  examples/tutorials/tacotron2_pipeline_tutorial.py
Owners: @mthrok

Rely on release/2.8 from test-infra
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_docs.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
  .github/workflows/ffmpeg.yml
  .github/workflows/lint.yml
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-macos-cpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Rely on release/2.8 from test-infra (#3948)
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_docs.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
  .github/workflows/ffmpeg.yml
  .github/workflows/lint.yml
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-macos-cpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Add comment
  src/torio/io/_streaming_media_decoder.py
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Add more deprecated stuff
  src/torchaudio/utils/download.py
  src/torchaudio/utils/sox_utils.py
  src/torio/utils/ffmpeg_utils.py
Owners: @pytorch/team-audio-core

EJFNALFJAJFNLAJEF
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

2025-06-27 nightly release (c7841de4369bfb68e818b134975e512e74ed587f)
  .github/workflows/build_docs.yml
  docs/requirements.txt
Owners: @pytorch/team-audio-core

Add IO warning
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
Owners: @pytorch/team-audio-core

Deprecate IO classes specially
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
Owners: @pytorch/team-audio-core

Deprecate more APIs (#3949)
  src/torchaudio/__init__.py
  src/torchaudio/utils/download.py
  src/torchaudio/utils/sox_utils.py
  src/torio/io/_streaming_media_decoder.py
  src/torio/utils/ffmpeg_utils.py
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Add missing class deprecations
  src/torchaudio/__init__.py
  src/torchaudio/transforms/__init__.py
Owners: @pytorch/team-audio-core

Switch deprecation message for extra deprecations
  src/torchaudio/__init__.py
  src/torchaudio/io/__init__.py
Owners: @pytorch/team-audio-core

Add IO warning for functionality moved to TorchCodec (#3950)
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
Owners: @pytorch/team-audio-core

Add dp.Preprocessor to safe globals
  src/torchaudio/pipelines/_tts/utils.py
Owners: @pytorch/team-audio-core

Add missing import
  src/torchaudio/transforms/__init__.py
Owners: @pytorch/team-audio-core

Disable katex
  docs/source/conf.py
Owners: @pytorch/team-audio-core

Allow weight loading in tacotron tutorial
  src/torchaudio/pipelines/_tts/utils.py
Owners: @pytorch/team-audio-core

Deprecate IO classes specially (#3951)
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
  src/torchaudio/transforms/__init__.py
Owners: @pytorch/team-audio-core

2025-06-28 nightly release (5b56239a3b2f12235661c213d07cf60e8750a87c)
  src/torchaudio/__init__.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/io/__init__.py
  src/torchaudio/transforms/__init__.py
  src/torchaudio/utils/download.py
  src/torchaudio/utils/sox_utils.py
  src/torio/io/_streaming_media_decoder.py
  src/torio/utils/ffmpeg_utils.py
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Add back documentation for tutorials with DeepPhonemizer fix (#3952)
  .github/workflows/build_docs.yml
  docs/source/conf.py
  src/torchaudio/pipelines/_tts/utils.py
Owners: @pytorch/team-audio-core

2025-06-30 nightly release (bf4e412239009a5e88fab0415d7cafc18b7a8b14)
  .github/workflows/build_docs.yml
  docs/source/conf.py
  src/torchaudio/pipelines/_tts/utils.py
Owners: @pytorch/team-audio-core

Add dropping_const_support
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/prototype/datasets/musan.py
  src/torchaudio/prototype/models/__init__.py
  src/torchaudio/prototype/models/_conformer_wav2vec2.py
  src/torchaudio/prototype/models/_emformer_hubert.py
  src/torchaudio/prototype/models/conv_emformer.py
  src/torchaudio/prototype/models/hifi_gan.py
  src/torchaudio/prototype/models/rnnt.py
  src/torchaudio/prototype/models/rnnt_decoder.py
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/hifigan_pipeline.py
  src/torchaudio/prototype/transforms/_transforms.py
Owners: @pytorch/team-audio-core

Put prototype deprecations in original files
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/prototype/models/__init__.py
  src/torchaudio/prototype/models/_conformer_wav2vec2.py
  src/torchaudio/prototype/models/_emformer_hubert.py
  src/torchaudio/prototype/models/conv_emformer.py
  src/torchaudio/prototype/models/hifi_gan.py
  src/torchaudio/prototype/models/rnnt.py
  src/torchaudio/prototype/models/rnnt_decoder.py
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_impl.py
  src/torchaudio/prototype/pipelines/hifigan_pipeline.py
  src/torchaudio/prototype/transforms/_transforms.py
Owners: @pytorch/team-audio-core

Do not add deprecated constants to test array
  src/torchaudio/_internal/module_utils.py
Owners: @pytorch/team-audio-core

Deprecate VGGISH items
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_impl.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_pipeline.py
Owners: @pytorch/team-audio-core

Add warnings to documentation
  docs/source/prototype.rst
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Port lfilter_core_loop wrapper to python [WIP]
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Try random stuff to see if htl docs use docstsring
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/rnnt_pipeline.py
Owners: @pytorch/team-audio-core

Revert "Try random stuff to see if html docs use docstsring"
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/rnnt_pipeline.py
Owners: @pytorch/team-audio-core

Add missing deprecations for classes and constants in the prototypes directory (#3953)
  docs/source/prototype.rst
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/prototype/datasets/musan.py
  src/torchaudio/prototype/models/__init__.py
  src/torchaudio/prototype/models/_conformer_wav2vec2.py
  src/torchaudio/prototype/models/conv_emformer.py
  src/torchaudio/prototype/models/hifi_gan.py
  src/torchaudio/prototype/models/rnnt_decoder.py
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_impl.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_pipeline.py
  src/torchaudio/prototype/pipelines/hifigan_pipeline.py
  src/torchaudio/prototype/transforms/_transforms.py
Owners: @pytorch/team-audio-core, @mthrok

Update deprecation wording, add warnings to main pages
  README.md
  docs/source/index.rst
  docs/source/io.rst
  docs/source/kaldi_io.rst
  docs/source/prototype.datasets.rst
  docs/source/prototype.functional.rst
  docs/source/prototype.models.rst
  docs/source/prototype.pipelines.rst
  docs/source/prototype.rst
  docs/source/prototype.transforms.rst
  docs/source/sox_effects.rst
  docs/source/torchaudio.rst
  docs/source/torio.io.rst
  docs/source/torio.rst
  docs/source/torio.utils.rst
  docs/source/utils.rst
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/utils/sox_utils.py
  src/torio/utils/ffmpeg_utils.py
Owners: @pytorch/team-audio-core

Fix rendering
  docs/source/index.rst
  docs/source/io.rst
  docs/source/torchaudio.rst
  docs/source/torio.io.rst
  docs/source/torio.rst
  docs/source/torio.utils.rst
  src/torchaudio/utils/sox_utils.py
  src/torio/utils/ffmpeg_utils.py
Owners: @pytorch/team-audio-core

make it a note
  docs/source/index.rst
Owners: @pytorch/team-audio-core

Put deprecation warning on top of the docs
  src/torchaudio/_internal/module_utils.py
Owners: @pytorch/team-audio-core

Add warnings to more tutorials
  examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  examples/tutorials/filter_design_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
  examples/tutorials/oscillator_tutorial.py
  examples/tutorials/streamreader_advanced_tutorial.py
  examples/tutorials/streamreader_basic_tutorial.py
  examples/tutorials/streamwriter_advanced.py
  examples/tutorials/streamwriter_basic_tutorial.py
  examples/tutorials/subtractive_synthesis_tutorial.py
Owners: @mthrok

Deprecate C++ API in docs
  docs/source/libtorio.rst
  docs/source/libtorio.stream_reader.rst
  docs/source/libtorio.stream_writer.rst
Owners: @pytorch/team-audio-core

2025-07-02 nightly release (8353ffb5070c637fd906f1bb46cdbefce2aa4ffc)
  docs/source/prototype.rst
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/prototype/datasets/musan.py
  src/torchaudio/prototype/models/__init__.py
  src/torchaudio/prototype/models/_conformer_wav2vec2.py
  src/torchaudio/prototype/models/conv_emformer.py
  src/torchaudio/prototype/models/hifi_gan.py
  src/torchaudio/prototype/models/rnnt_decoder.py
  src/torchaudio/prototype/pipelines/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/__init__.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_impl.py
  src/torchaudio/prototype/pipelines/_vggish/_vggish_pipeline.py
  src/torchaudio/prototype/pipelines/hifigan_pipeline.py
  src/torchaudio/prototype/transforms/_transforms.py
Owners: @pytorch/team-audio-core, @mthrok

Update deprecation wording, add warnings to main pages (#3955)
  README.md
  docs/source/index.rst
  docs/source/io.rst
  docs/source/kaldi_io.rst
  docs/source/libtorio.rst
  docs/source/libtorio.stream_reader.rst
  docs/source/libtorio.stream_writer.rst
  docs/source/prototype.datasets.rst
  docs/source/prototype.functional.rst
  docs/source/prototype.models.rst
  docs/source/prototype.pipelines.rst
  docs/source/prototype.rst
  docs/source/prototype.transforms.rst
  docs/source/sox_effects.rst
  docs/source/torchaudio.rst
  docs/source/torio.io.rst
  docs/source/torio.rst
  docs/source/torio.utils.rst
  docs/source/utils.rst
  examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/effector_tutorial.py
  examples/tutorials/filter_design_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
  examples/tutorials/oscillator_tutorial.py
  examples/tutorials/streamreader_advanced_tutorial.py
  examples/tutorials/streamreader_basic_tutorial.py
  examples/tutorials/streamwriter_advanced.py
  examples/tutorials/streamwriter_basic_tutorial.py
  examples/tutorials/subtractive_synthesis_tutorial.py
  src/torchaudio/_internal/module_utils.py
  src/torchaudio/utils/sox_utils.py
  src/torio/utils/ffmpeg_utils.py
Owners: @pytorch/team-audio-core, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
