Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok

Remove hack
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Skip ffmpeg failing tests
  ffmpeg_fail_ids.txt
  test/torchaudio_unittest/conftest.py
Owners: @pytorch/team-audio-core

Move failing test ids file to same directory
  test/torchaudio_unittest/conftest.py
  test/torchaudio_unittest/ffmpeg_fail_ids.txt
Owners: @pytorch/team-audio-core

Port autograd code for rnnt
  src/libtorchaudio/rnnt/autograd.cpp
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Correct rnnt calling arguments
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Add torchcodec to some requirements
  docs/requirements-tutorials.txt
  docs/requirements.txt
Owners: @pytorch/team-audio-core

Disable torchscript checks
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Try requirements index url option
  docs/requirements-tutorials.txt
Owners: @pytorch/team-audio-core

Add more ffmpeg failing tests
  test/torchaudio_unittest/ffmpeg_fail_ids.txt
Owners: @pytorch/team-audio-core

Install torchcodec at same time as torch for docs
  .github/workflows/build_docs.yml
  docs/requirements-tutorials.txt
  requirements.txt
Owners: @pytorch/team-audio-core

Add options from old loader
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Give installation error message if torchcodec not installed
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Restrict disabling of torchscript tests
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Remove leftover line
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Remove prototype tests
  test/integration_tests/prototype/hifi_gan_pipeline_test.py
  test/integration_tests/prototype/vggish_pipeline_test.py
Owners: @pytorch/team-audio-core

Undo deprecation of download_asset
  src/torchaudio/utils/download.py
Owners: @pytorch/team-audio-core

Remove hide_seek wrapping for torchcodec
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Remove scipy wav loading code
  src/torchaudio/datasets/cmuarctic.py
  src/torchaudio/utils/wav_utils.py
Owners: @pytorch/team-audio-core

Remove hide_seek wrapping for torchcodec
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Wrap boto3 response in bytesio
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Debugging
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Remove comparison code
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Wrap boto3 response in bytesio
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Remove torchscript consistency test
  .github/scripts/unittest-linux/run_test.sh
Owners: @pytorch/team-audio-core

Remove tutorial section on streaming loading
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Remove audio saving section of audio_io_tutorial
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Remove prototype docs
  docs/Makefile
  docs/source/build.ffmpeg.rst
  docs/source/build.rst
  docs/source/compliance.kaldi.rst
  docs/source/io.rst
  docs/source/kaldi_io.rst
  docs/source/libtorio.rst
  docs/source/libtorio.stream_reader.rst
  docs/source/libtorio.stream_writer.rst
  docs/source/prototype.datasets.rst
  docs/source/prototype.functional.rst
  docs/source/prototype.models.rst
  docs/source/prototype.pipelines.rst
  docs/source/prototype.rst
  docs/source/prototype.transforms.rst
  docs/source/sox_effects.rst
  docs/source/torio.io.rst
  docs/source/torio.rst
  docs/source/torio.utils.rst
Owners: @pytorch/team-audio-core

Removed tutorials for deprecated features
  docs/source/_templates/autosummary/model_class.rst
  examples/asr/emformer_rnnt/tedlium3/eval_pipeline.py
  examples/asr/emformer_rnnt/tedlium3/global_stats.json
  examples/asr/emformer_rnnt/tedlium3/lightning.py
  examples/asr/emformer_rnnt/tedlium3/train_spm.py
  examples/asr/librispeech_conformer_rnnt/README.md
  examples/asr/librispeech_conformer_rnnt/data_module.py
  examples/asr/librispeech_conformer_rnnt/eval.py
  examples/asr/librispeech_conformer_rnnt/global_stats.json
  examples/asr/librispeech_conformer_rnnt/lightning.py
  examples/asr/librispeech_conformer_rnnt/train.py
  examples/asr/librispeech_conformer_rnnt/train_spm.py
  examples/asr/librispeech_conformer_rnnt/transforms.py
  examples/asr/librispeech_conformer_rnnt_biasing/README.md
  examples/asr/librispeech_conformer_rnnt_biasing/blists/README.md
  examples/asr/librispeech_conformer_rnnt_biasing/data_module.py
  examples/asr/librispeech_conformer_rnnt_biasing/error_analysis/get_error_word_count.py
  examples/asr/librispeech_conformer_rnnt_biasing/eval.py
  examples/asr/librispeech_conformer_rnnt_biasing/global_stats_100.json
  examples/asr/librispeech_conformer_rnnt_biasing/lightning.py
  examples/asr/librispeech_conformer_rnnt_biasing/score.sh
  examples/asr/librispeech_conformer_rnnt_biasing/train.py
  examples/asr/librispeech_conformer_rnnt_biasing/train_spm.py
  examples/asr/librispeech_conformer_rnnt_biasing/transforms.py
  examples/avsr/models/conformer_rnnt.py
  examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/filter_design_tutorial.py
  examples/tutorials/oscillator_tutorial.py
  examples/tutorials/subtractive_synthesis_tutorial.py
Owners: @pytorch/team-audio-core, @hwangjeff, @mpc001, @mthrok

Delete tutorials with StreamWriter and StreamReaderr
  docs/source/build.jetson.rst
  docs/source/torchaudio.rst
  docs/source/utils.rst
  examples/tutorials/effector_tutorial.py
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
  examples/tutorials/streamreader_advanced_tutorial.py
  examples/tutorials/streamreader_basic_tutorial.py
  examples/tutorials/streamwriter_advanced.py
  examples/tutorials/streamwriter_basic_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

More deletions
  docs/source/conf.py
  docs/source/index.rst
Owners: @pytorch/team-audio-core

Remove TEDLIUM example
  examples/asr/emformer_rnnt/eval.py
  examples/asr/emformer_rnnt/pipeline_demo.py
  test/integration_tests/rnnt_pipeline_test.py
  test/torchaudio_unittest/example/emformer_rnnt/test_tedlium3_lightning.py
Owners: @hwangjeff, @pytorch/team-audio-core

WIP
  docs/source/index.rst
  examples/tutorials/device_asr.py
  examples/tutorials/online_asr_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Use torchcodec url streaming
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Fix argument comment in pytorch/audio/src/libtorchaudio/rnnt/cpu/compute.cpp +6
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/cpu/compute_alphas.cpp
  src/libtorchaudio/rnnt/cpu/compute_betas.cpp
Owners: @pytorch/team-audio-core

Use urls for load_codec
  examples/tutorials/audio_io_tutorial.py
Owners: @mthrok

Allow keyword arguments to load_torchcodec
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Remove frame_offset arguments from load_torchcodec
  examples/asr/emformer_rnnt/mustc/dataset.py
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
Owners: @hwangjeff, @mthrok

Remove references to StreamReader
  docs/source/index.rst
  examples/tutorials/device_asr.py
  examples/tutorials/device_avsr.py
  test/smoke_test/smoke_test.py
Owners: @pytorch/team-audio-core, @mthrok

Fix typo
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
Owners: @mthrok

Fix typo
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/forced_alignment_for_multilingual_data_tutorial.py
Owners: @mthrok
