Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Remove accelerated encoding/ decoding tutorials
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
Owners: @mthrok

Remove online asr tutorial
  examples/tutorials/online_asr_tutorial.py
Owners: @mthrok

Do rm examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/additive_synthesis_tutorial.py
Owners: @mthrok

Remove subtractive synthesis
  examples/tutorials/subtractive_synthesis_tutorial.py
Owners: @mthrok

Remove other online asr tutorials
  examples/tutorials/device_asr.py
  examples/tutorials/device_avsr.py
Owners: @mthrok

Remove filter design tutorial
  examples/tutorials/filter_design_tutorial.py
Owners: @mthrok

Remove tutorial references from docs
  docs/source/index.rst
Owners: @pytorch/team-audio-core

Remove oscillator tutorial
  examples/tutorials/oscillator_tutorial.py
Owners: @mthrok

Remove references in docs
  docs/source/index.rst
Owners: @pytorch/team-audio-core

Add torchcodec mock with wav loading and saving
  test/torchcodec/decoders.py
  test/torchcodec/encoders.py
Owners: @pytorch/team-audio-core

[codemod] Fix argument comment issue in pytorch/audio/src/libtorchaudio/rnnt/cpu/compute.cpp +6
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/cpu/compute_alphas.cpp
  src/libtorchaudio/rnnt/cpu/compute_betas.cpp
Owners: @pytorch/team-audio-core

[codemod] Fix argument comment issue in pytorch/audio/src/libtorchaudio/rnnt/cpu/compute.cpp +6
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/cpu/compute_alphas.cpp
  src/libtorchaudio/rnnt/cpu/compute_betas.cpp
Owners: @pytorch/team-audio-core

2025-07-22 nightly release (b6a3368a45aaafe05f1a6a9f10c68adc5e944d9e)
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/cpu/compute_alphas.cpp
  src/libtorchaudio/rnnt/cpu/compute_betas.cpp
Owners: @pytorch/team-audio-core

[Codemod][CppQualityDownToZero] Fix CQS signal readability-braces-around-statements in fbcode/pytorch/audio
  src/libtorchaudio/sox/types.cpp
Owners: @pytorch/team-audio-core

[Codemod][CppQualityDownToZero] Fix CQS signal readability-braces-around-statements in fbcode/pytorch/audio
  src/libtorchaudio/sox/types.cpp
Owners: @pytorch/team-audio-core

Fix LoadHIP handling of environment variable paths on Windows.
  cmake/LoadHIP.cmake
Owners: @pytorch/team-audio-core

2025-07-25 nightly release (f6dfe1231dcdd221a68416e49ab85c2575cbb824)
  src/libtorchaudio/sox/types.cpp
Owners: @pytorch/team-audio-core

Does git rm -r test/torchaudio_unittest/sox_effects (#3979)
  test/torchaudio_unittest/sox_effect/__init__.py
  test/torchaudio_unittest/sox_effect/common.py
  test/torchaudio_unittest/sox_effect/dataset_test.py
  test/torchaudio_unittest/sox_effect/smoke_test.py
  test/torchaudio_unittest/sox_effect/sox_effect_test.py
  test/torchaudio_unittest/sox_effect/torchscript_test.py
Owners: @pytorch/team-audio-core

Do git rm -r test/torchaudio_unittest/io (#3980)
  test/torchaudio_unittest/io/__init__.py
  test/torchaudio_unittest/io/common.py
  test/torchaudio_unittest/io/effector_test.py
  test/torchaudio_unittest/io/playback_test.py
  test/torchaudio_unittest/io/stream_reader_test.py
  test/torchaudio_unittest/io/stream_writer_test.py
Owners: @pytorch/team-audio-core

Remove io tutorials (#3983)
  docs/source/index.rst
  examples/tutorials/audio_io_tutorial.py
  examples/tutorials/effector_tutorial.py
  examples/tutorials/nvdec_tutorial.py
  examples/tutorials/nvenc_tutorial.py
  examples/tutorials/streamreader_advanced_tutorial.py
  examples/tutorials/streamreader_basic_tutorial.py
  examples/tutorials/streamwriter_advanced.py
  examples/tutorials/streamwriter_basic_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Remove DSP feature tutorials (#3985)
  docs/source/index.rst
  examples/tutorials/additive_synthesis_tutorial.py
  examples/tutorials/filter_design_tutorial.py
  examples/tutorials/oscillator_tutorial.py
  examples/tutorials/subtractive_synthesis_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Try to put back GPU linux tests
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Try to avoid conda timetout
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

dont install libvorbis??
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

avoid repro error
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Put back GPU linux tests (#3993)
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Try to skip torchscript rnnt tests on GPU
  .github/workflows/unittest-linux-gpu.yml
Owners: @pytorch/team-audio-core

Port autograd code for rnnt (#3970)
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-gpu.yml
  src/libtorchaudio/CMakeLists.txt
  src/libtorchaudio/rnnt/autograd.cpp
  src/libtorchaudio/rnnt/compute.cpp
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Port autograd parts of lfilter to python (#3954)
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-linux-gpu.yml
  src/libtorchaudio/lfilter.cpp
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Remove test backend directory
  test/torchaudio_unittest/backend/__init__.py
  test/torchaudio_unittest/backend/common.py
  test/torchaudio_unittest/backend/dispatcher/__init__.py
  test/torchaudio_unittest/backend/dispatcher/dispatcher_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/__init__.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/info_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/load_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/save_test.py
  test/torchaudio_unittest/backend/dispatcher/smoke_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/__init__.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/common.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/info_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/load_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/__init__.py
  test/torchaudio_unittest/backend/dispatcher/sox/common.py
  test/torchaudio_unittest/backend/dispatcher/sox/info_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/load_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/roundtrip_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/smoke_test.py
  test/torchaudio_unittest/backend/soundfile/__init__.py
  test/torchaudio_unittest/backend/soundfile/common.py
  test/torchaudio_unittest/backend/soundfile/info_test.py
  test/torchaudio_unittest/backend/soundfile/load_test.py
  test/torchaudio_unittest/backend/soundfile/save_test.py
  test/torchaudio_unittest/backend/sox_io/__init__.py
  test/torchaudio_unittest/backend/sox_io/common.py
  test/torchaudio_unittest/backend/sox_io/info_test.py
  test/torchaudio_unittest/backend/sox_io/load_test.py
  test/torchaudio_unittest/backend/sox_io/roundtrip_test.py
  test/torchaudio_unittest/backend/sox_io/save_test.py
  test/torchaudio_unittest/backend/sox_io/smoke_test.py
  test/torchaudio_unittest/backend/sox_io/torchscript_test.py
Owners: @pytorch/team-audio-core

Remove test for kaldi io
  test/torchaudio_unittest/kaldi_io_test.py
Owners: @pytorch/team-audio-core

Remove tutorials using StreamReader
  examples/tutorials/device_asr.py
  examples/tutorials/device_avsr.py
  examples/tutorials/online_asr_tutorial.py
Owners: @mthrok

Remove prototype integration tests
  test/integration_tests/prototype/hifi_gan_pipeline_test.py
  test/integration_tests/prototype/vggish_pipeline_test.py
Owners: @pytorch/team-audio-core

Remove test backend directory (#3994)
  test/torchaudio_unittest/backend/__init__.py
  test/torchaudio_unittest/backend/common.py
  test/torchaudio_unittest/backend/dispatcher/__init__.py
  test/torchaudio_unittest/backend/dispatcher/dispatcher_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/__init__.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/info_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/load_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/save_test.py
  test/torchaudio_unittest/backend/dispatcher/smoke_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/__init__.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/common.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/info_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/load_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/__init__.py
  test/torchaudio_unittest/backend/dispatcher/sox/common.py
  test/torchaudio_unittest/backend/dispatcher/sox/info_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/load_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/roundtrip_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/smoke_test.py
  test/torchaudio_unittest/backend/soundfile/__init__.py
  test/torchaudio_unittest/backend/soundfile/common.py
  test/torchaudio_unittest/backend/soundfile/info_test.py
  test/torchaudio_unittest/backend/soundfile/load_test.py
  test/torchaudio_unittest/backend/soundfile/save_test.py
  test/torchaudio_unittest/backend/sox_io/__init__.py
  test/torchaudio_unittest/backend/sox_io/common.py
  test/torchaudio_unittest/backend/sox_io/info_test.py
  test/torchaudio_unittest/backend/sox_io/load_test.py
  test/torchaudio_unittest/backend/sox_io/roundtrip_test.py
  test/torchaudio_unittest/backend/sox_io/save_test.py
  test/torchaudio_unittest/backend/sox_io/smoke_test.py
  test/torchaudio_unittest/backend/sox_io/torchscript_test.py
Owners: @pytorch/team-audio-core

Remove test for kaldi io (#3995)
  test/torchaudio_unittest/kaldi_io_test.py
Owners: @pytorch/team-audio-core

Remove references to asr tutorials
  docs/source/index.rst
  examples/tutorials/streamreader_advanced_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

Remove online asr tutorial (#3984)
  docs/source/index.rst
  examples/tutorials/device_asr.py
  examples/tutorials/device_avsr.py
  examples/tutorials/online_asr_tutorial.py
Owners: @pytorch/team-audio-core, @mthrok

[Codemod][CppQualityCommon] Fix CQS signal facebook-unused-include-check in fbcode/pytorch/audio
  src/libtorio/ffmpeg/ffmpeg.cpp
  src/libtorio/ffmpeg/filter_graph.cpp
  src/libtorio/ffmpeg/stream_reader/stream_reader.cpp
Owners: @pytorch/team-audio-core

[Codemod][CppQualityCommon] Fix CQS signal facebook-unused-include-check in fbcode/pytorch/audio
  src/libtorio/ffmpeg/ffmpeg.cpp
  src/libtorio/ffmpeg/filter_graph.cpp
  src/libtorio/ffmpeg/stream_reader/stream_reader.cpp
Owners: @pytorch/team-audio-core

2025-07-30 nightly release (bf305f538005f2e900f8850ed57146024a8bc559)
  docs/source/index.rst
  examples/tutorials/device_asr.py
  examples/tutorials/device_avsr.py
  examples/tutorials/online_asr_tutorial.py
  src/libtorio/ffmpeg/ffmpeg.cpp
  src/libtorio/ffmpeg/filter_graph.cpp
  src/libtorio/ffmpeg/stream_reader/stream_reader.cpp
Owners: @pytorch/team-audio-core, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
