Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Update README with community message
  README.md
Owners: @pytorch/team-audio-core

Make message a note
  README.md
Owners: @pytorch/team-audio-core

Use absolute URL for issue
  README.md
Owners: @pytorch/team-audio-core

Formatting
  README.md
Owners: @pytorch/team-audio-core

Update README with community message (#3903)
  README.md
Owners: @pytorch/team-audio-core

2025-04-25 nightly release (d60ce09e2c532d5bf2e05619e700ab520543465e)
  README.md
Owners: @pytorch/team-audio-core

Removing conda installation references.
  docs/source/build.linux.rst
  docs/source/build.rst
  docs/source/build.windows.rst
Owners: @pytorch/team-audio-core

[CODEDMOD] replace all uses of np.string_ with np.bytes_
  examples/hubert/dataset/hubert_dataset.py
  examples/self_supervised_learning/data_modules/_utils.py
Owners: @nateanl

[CODEDMOD] replace all uses of np.string_ with np.bytes_
  examples/hubert/dataset/hubert_dataset.py
  examples/self_supervised_learning/data_modules/_utils.py
Owners: @nateanl

2025-05-06 nightly release (5c04d2ae87e9f5e67b745fc3bbd6551d7adf22e3)
  examples/hubert/dataset/hubert_dataset.py
  examples/self_supervised_learning/data_modules/_utils.py
Owners: @nateanl

[Codemod][[cqs] Fix CQS signal. Id] 55563409 -- performance-faster-string-find in fbcode/pytorch/audio/src/libtorchaudio/sox (#3906)
  src/libtorchaudio/sox/utils.cpp
Owners: @pytorch/team-audio-core

Add requirements-dev.txt to capture testing dependencies
  requirements-dev.txt
Owners: @pytorch/team-audio-core

[release-only] Bump version to 2.7.1
  version.txt
Owners: @pytorch/team-audio-core

[release-only] Bump version to 2.7.1 (#3908)
  version.txt
Owners: @pytorch/team-audio-core

Update build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_aarch64_linux.yml
Owners: @pytorch/team-audio-core

Update build_wheels_aarch64_linux.yml (#3909)
  .github/workflows/build_wheels_aarch64_linux.yml
Owners: @pytorch/team-audio-core

2025-05-10 nightly release (2f78c953bb4a81d269c7d4b7b36e218a1f090fab)
  .github/workflows/build_wheels_aarch64_linux.yml
Owners: @pytorch/team-audio-core

Removing conda references.
  docs/source/build.linux.rst
  docs/source/build.rst
  docs/source/build.windows.rst
Owners: @pytorch/team-audio-core

Removing conda installation references. (#3904)
  docs/source/build.linux.rst
  docs/source/build.rst
  docs/source/build.windows.rst
Owners: @pytorch/team-audio-core

2025-05-13 nightly release (ea5de17755d657508c84c4dce8970b614008adcf)
  docs/source/build.linux.rst
  docs/source/build.rst
  docs/source/build.windows.rst
Owners: @pytorch/team-audio-core

Update no_backend.py
  src/torchaudio/backend/no_backend.py
Owners: @pytorch/team-audio-core

Update soundfile_backend.py
  src/torchaudio/backend/soundfile_backend.py
Owners: @pytorch/team-audio-core

Update sox_io_backend.py
  src/torchaudio/backend/sox_io_backend.py
Owners: @pytorch/team-audio-core

Fix typos in backend dispatch UserWarning message
  src/torchaudio/backend/no_backend.py
  src/torchaudio/backend/soundfile_backend.py
  src/torchaudio/backend/sox_io_backend.py
Owners: @pytorch/team-audio-core

Remove Unused Variable indexScores from fbcode/pytorch/audio/src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/forced_align/gpu/compute.cu
Owners: @pytorch/team-audio-core

Remove Unused Variable indexScores from fbcode/pytorch/audio/src/libtorchaudio/forced_align/gpu/compute.cu
  src/libtorchaudio/forced_align/gpu/compute.cu
Owners: @pytorch/team-audio-core

add installation script for win arm64 dependencies
  packaging/pre_build_script_arm64.sh
Owners: @pytorch/team-audio-core

2025-05-21 nightly release (1a8f6213b0b61efc6a4862bc45b853551a93dbb6)
  src/libtorchaudio/forced_align/gpu/compute.cu
Owners: @pytorch/team-audio-core

Update functional.py
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

[Codemod][CppQualityCommon] Fix CQS signal facebook-unused-include-check in fbcode/pytorch/audio/src/libtorchaudio/forced_align (#3920)
  src/libtorchaudio/forced_align/compute.cpp
Owners: @pytorch/team-audio-core

Fix typos in backend dispatch UserWarning message (#3913)
  src/torchaudio/backend/no_backend.py
  src/torchaudio/backend/soundfile_backend.py
  src/torchaudio/backend/sox_io_backend.py
Owners: @pytorch/team-audio-core

Update version.txt for torchaudio nightly
  version.txt
Owners: @pytorch/team-audio-core

Update version.txt for torchaudio nightly (#3922)
  version.txt
Owners: @pytorch/team-audio-core

2025-05-31 nightly release (4cb7f57d31b0b288696f09b89e890e5fac092eed)
  src/torchaudio/backend/no_backend.py
  src/torchaudio/backend/soundfile_backend.py
  src/torchaudio/backend/sox_io_backend.py
  version.txt
Owners: @pytorch/team-audio-core

[ROCm][Windows] Enable build with ROCm on Windows (#3883)
  cmake/LoadHIP.cmake
  tools/setup_helpers/extension.py
Owners: @pytorch/team-audio-core

Rework LoadHIP.cmake to be based purely on CMAKE_PREFIX_PATH.
  cmake/LoadHIP.cmake
Owners: @pytorch/team-audio-core

Fix `ValueError: bad delimiter value` in Python 3.13
  src/torchaudio/datasets/cmuarctic.py
Owners: @pytorch/team-audio-core

Fix `FutureWarning: functools.partial` in Python 3.13
  examples/asr/emformer_rnnt/librispeech/lightning.py
  examples/asr/emformer_rnnt/mustc/lightning.py
  examples/asr/emformer_rnnt/pipeline_demo.py
  examples/asr/emformer_rnnt/tedlium3/lightning.py
  examples/asr/librispeech_conformer_rnnt/transforms.py
  examples/asr/librispeech_conformer_rnnt_biasing/transforms.py
  examples/pipeline_tacotron2/inference.py
  examples/pipeline_tacotron2/train.py
  examples/self_supervised_learning/train_hubert.py
  examples/source_separation/utils/dataset/utils.py
  src/torchaudio/pipelines/_source_separation_pipeline.py
  src/torchaudio/pipelines/rnnt_pipeline.py
  src/torchaudio/prototype/pipelines/rnnt_pipeline.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/info_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/load_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/save_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/info_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/load_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/info_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/load_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/roundtrip_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/smoke_test.py
  test/torchaudio_unittest/example/emformer_rnnt/test_librispeech_lightning.py
  test/torchaudio_unittest/example/emformer_rnnt/test_mustc_lightning.py
  test/torchaudio_unittest/example/emformer_rnnt/test_tedlium3_lightning.py
  test/torchaudio_unittest/functional/autograd_impl.py
  test/torchaudio_unittest/functional/batch_consistency_test.py
Owners: @hwangjeff, @pytorch/team-audio-core, @nateanl

Fix `FutureWarning: functools.partial` in Python 3.13
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/info_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/load_test.py
  test/torchaudio_unittest/backend/dispatcher/ffmpeg/save_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/info_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/load_test.py
  test/torchaudio_unittest/backend/dispatcher/soundfile/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/info_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/load_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/roundtrip_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/save_test.py
  test/torchaudio_unittest/backend/dispatcher/sox/smoke_test.py
Owners: @pytorch/team-audio-core

Fix `TypeError: LRScheduler.__init__()` with PyTorch 2.7
  examples/asr/emformer_rnnt/common.py
  examples/asr/librispeech_conformer_rnnt/lightning.py
  examples/asr/librispeech_conformer_rnnt_biasing/lightning.py
  examples/avsr/schedulers.py
  examples/hubert/lightning_modules.py
  examples/self_supervised_learning/lr_schedulers/_linear_decay.py
Owners: @hwangjeff, @mpc001, @nateanl

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
