Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Rename download_asset to _download_asset
  examples/tutorials/asr_inference_with_ctc_decoder_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_data_augmentation_tutorial.py
  examples/tutorials/audio_feature_augmentation_tutorial.py
  examples/tutorials/audio_feature_extractions_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/hybrid_demucs_tutorial.py
  examples/tutorials/mvdr_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
  examples/tutorials/squim_tutorial.py
  src/torchaudio/models/decoder/_ctc_decoder.py
  src/torchaudio/pipelines/_source_separation_pipeline.py
  src/torchaudio/pipelines/_squim_pipeline.py
  src/torchaudio/pipelines/rnnt_pipeline.py
  src/torchaudio/utils/__init__.py
  src/torchaudio/utils/download.py
  test/integration_tests/conftest.py
  test/integration_tests/prototype/vggish_pipeline_test.py
Owners: @mthrok, @pytorch/team-audio-core

Remove comparison to librosa in feature extract tutorial
  examples/tutorials/audio_feature_extractions_tutorial.py
Owners: @mthrok

Remove librosa from resampling tutorial
  examples/tutorials/audio_resampling_tutorial.py
Owners: @mthrok

Remove call to mir_eval in demucs_tutorial
  examples/tutorials/hybrid_demucs_tutorial.py
Owners: @mthrok

Remove effector from data augmentation tutorial
  examples/tutorials/audio_data_augmentation_tutorial.py
Owners: @mthrok

Remove phone recording section
  examples/tutorials/audio_data_augmentation_tutorial.py
Owners: @mthrok

Remove dependencies for mvdr tutorial
  examples/tutorials/mvdr_tutorial.py
Owners: @mthrok

Add back `evaluate` function to mvdr tutorial
  examples/tutorials/mvdr_tutorial.py
Owners: @mthrok

Remove librosa dependency from feature augmentation tutorial
  examples/tutorials/audio_feature_augmentation_tutorial.py
Owners: @mthrok

Remove sox effect
  examples/tutorials/audio_feature_augmentation_tutorial.py
Owners: @mthrok

Remove reference metrics for squim tutorial
  examples/tutorials/squim_tutorial.py
Owners: @mthrok

Replace use of pandas in resampling tutorial
  examples/tutorials/audio_resampling_tutorial.py
Owners: @mthrok

Use stable Tensor interface
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/gpu/compute.cu
  test/torchaudio_unittest/functional/functional_impl.py
Owners: @pytorch/team-audio-core

Correct use of stable Tensor
  src/libtorchaudio/rnnt/gpu/compute.cu
Owners: @pytorch/team-audio-core

WIP
  src/libtorchaudio/rnnt/cpu/compute.cpp
Owners: @pytorch/team-audio-core

Remove mytest
  src/libtorchaudio/rnnt/cpu/compute.cpp
  test/torchaudio_unittest/functional/functional_impl.py
Owners: @pytorch/team-audio-core

Fix float size calculation
  src/libtorchaudio/rnnt/cpu/compute.cpp
Owners: @pytorch/team-audio-core

Remove debugging printfs
  src/libtorchaudio/rnnt/cpu/compute.cpp
Owners: @pytorch/team-audio-core

Fix size bug for rnnt gpu
  src/libtorchaudio/rnnt/gpu/compute.cu
Owners: @pytorch/team-audio-core

Remove alphas and betas for rnnt
  src/libtorchaudio/CMakeLists.txt
  src/libtorchaudio/rnnt/compute_alphas.cpp
  src/libtorchaudio/rnnt/compute_betas.cpp
  src/libtorchaudio/rnnt/cpu/compute_alphas.cpp
  src/libtorchaudio/rnnt/cpu/compute_betas.cpp
  src/libtorchaudio/rnnt/gpu/compute_alphas.cu
  src/libtorchaudio/rnnt/gpu/compute_betas.cu
Owners: @pytorch/team-audio-core

Remove dependencies for mvdr tutorial (#4003)
  examples/tutorials/mvdr_tutorial.py
Owners: @mthrok

Remove librosa dependency from feature augmentation tutorial (#4004)
  examples/tutorials/audio_feature_augmentation_tutorial.py
Owners: @mthrok

Remove call to mir_eval in demucs_tutorial (#4001)
  examples/tutorials/hybrid_demucs_tutorial.py
Owners: @mthrok

Remove comparison to librosa in feature extract tutorial (#3999)
  examples/tutorials/audio_feature_extractions_tutorial.py
Owners: @mthrok

Remove download_asset from exported utils_
  src/torchaudio/utils/__init__.py
Owners: @pytorch/team-audio-core

Remove sox effect (#4005)
  examples/tutorials/audio_feature_augmentation_tutorial.py
Owners: @mthrok

Remove html table code for resample tutorial
  examples/tutorials/audio_resampling_tutorial.py
Owners: @mthrok

Remove augmentation effector (#4002)
  examples/tutorials/audio_data_augmentation_tutorial.py
Owners: @mthrok

Remove librosa from resampling tutorial (#4000)
  examples/tutorials/audio_resampling_tutorial.py
Owners: @mthrok

Rename download_asset to _download_asset (#3998)
  examples/tutorials/asr_inference_with_ctc_decoder_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_data_augmentation_tutorial.py
  examples/tutorials/audio_feature_augmentation_tutorial.py
  examples/tutorials/audio_feature_extractions_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/hybrid_demucs_tutorial.py
  examples/tutorials/mvdr_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
  examples/tutorials/squim_tutorial.py
  src/torchaudio/models/decoder/_ctc_decoder.py
  src/torchaudio/pipelines/_source_separation_pipeline.py
  src/torchaudio/pipelines/_squim_pipeline.py
  src/torchaudio/pipelines/rnnt_pipeline.py
  src/torchaudio/utils/__init__.py
  src/torchaudio/utils/download.py
  test/integration_tests/conftest.py
  test/integration_tests/prototype/vggish_pipeline_test.py
Owners: @mthrok, @pytorch/team-audio-core

Disable asr cuda ctc tutorial
  docs/source/index.rst
  docs/source/models.decoder.rst
Owners: @pytorch/team-audio-core

fix supposed typo in speech_recognition_pipeline_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
Owners: @mthrok

2025-08-01 nightly release (b757cc67845b3c278dcb3eecc218f5e7d1a51f82)
  examples/tutorials/asr_inference_with_ctc_decoder_tutorial.py
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/audio_data_augmentation_tutorial.py
  examples/tutorials/audio_feature_augmentation_tutorial.py
  examples/tutorials/audio_feature_extractions_tutorial.py
  examples/tutorials/audio_resampling_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  examples/tutorials/forced_alignment_tutorial.py
  examples/tutorials/hybrid_demucs_tutorial.py
  examples/tutorials/mvdr_tutorial.py
  examples/tutorials/speech_recognition_pipeline_tutorial.py
  examples/tutorials/squim_tutorial.py
  src/torchaudio/models/decoder/_ctc_decoder.py
  src/torchaudio/pipelines/_source_separation_pipeline.py
  src/torchaudio/pipelines/_squim_pipeline.py
  src/torchaudio/pipelines/rnnt_pipeline.py
  src/torchaudio/utils/__init__.py
  src/torchaudio/utils/download.py
  test/integration_tests/conftest.py
  test/integration_tests/prototype/vggish_pipeline_test.py
Owners: @mthrok, @pytorch/team-audio-core

Remove tests for librosa compat
  test/torchaudio_unittest/functional/librosa_compatibility_cpu_test.py
  test/torchaudio_unittest/functional/librosa_compatibility_cuda_test.py
  test/torchaudio_unittest/functional/librosa_compatibility_test_impl.py
  test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py
  test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py
  test/torchaudio_unittest/transforms/librosa_compatibility_test_impl.py
Owners: @pytorch/team-audio-core

Replace direct calls to setup.py with pip equivalents
  .github/scripts/unittest-linux/install.sh
  .github/scripts/unittest-windows/install.sh
  .github/workflows/integration-test.yml
  docs/source/build.linux.rst
  docs/source/build.windows.rst
  packaging/torchaudio/bld.bat
  packaging/torchaudio/build.sh
  tools/travis/install.sh
Owners: @pytorch/team-audio-core

Attempting autouse fixture
  test/torchaudio_unittest/deprecation_test.py
  test/torchaudio_unittest/functional/librosa_compatibility_test_impl.py
  test/torchaudio_unittest/transforms/librosa_compatibility_test_impl.py
Owners: @pytorch/team-audio-core

Mock calls to librosa by reading from cache
  test/librosa_mock.py
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/functional/librosa_compatibility_test_impl.py
  test/torchaudio_unittest/transforms/librosa_compatibility_test_impl.py
Owners: @pytorch/team-audio-core

Disable asr cuda ctc tutorial (#4006)
  docs/source/index.rst
  docs/source/models.decoder.rst
Owners: @pytorch/team-audio-core

Remove sox test
  test/torchaudio_unittest/functional/sox_compatibility_test.py
Owners: @pytorch/team-audio-core

remove_prototype_integration_tests
  test/integration_tests/prototype/hifi_gan_pipeline_test.py
  test/integration_tests/prototype/vggish_pipeline_test.py
  test/integration_tests/rnnt_pipeline_test.py
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
