Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Update compute.cu
  src/libtorchaudio/rnnt/gpu/compute.cu
Owners: @pytorch/team-audio-core

Fix CMUARCTIC text transcripts reader. (#4164) (#4166)
  src/torchaudio/datasets/cmuarctic.py
  test/torchaudio_unittest/datasets/cmuarctic_test.py
Owners: @pytorch/team-audio-core

2026-01-06 nightly release (cc9f5150c4153b89b904dc25b538d50a879cb3b6)
  src/torchaudio/datasets/cmuarctic.py
  test/torchaudio_unittest/datasets/cmuarctic_test.py
Owners: @pytorch/team-audio-core

Update version to 2.11
  version.txt
Owners: @pytorch/team-audio-core

Update version to 2.11 (#4167)
  version.txt
Owners: @pytorch/team-audio-core

2026-01-07 nightly release (d17635fc326ffee0e67d3ac7f19d35995b0fce65)
  version.txt
Owners: @pytorch/team-audio-core

Fix building on GCC 14.2 (#4163)
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/gpu/compute.cu
Owners: @pytorch/team-audio-core

2026-01-08 nightly release (e1232690308a6b5297fcd06e925899a9b64f7280)
  src/libtorchaudio/rnnt/cpu/compute.cpp
  src/libtorchaudio/rnnt/gpu/compute.cu
Owners: @pytorch/team-audio-core

Remove pinning against torch version
  setup.py
Owners: @pytorch/team-audio-core

Remove pinning against torch version
  setup.py
Owners: @pytorch/team-audio-core

2026-01-22 nightly release (e284e58c83f69c95a7f4a8a7d402f6c27ef56f5d)
  setup.py
Owners: @pytorch/team-audio-core

Fix ITokenizer return type annotation
  src/torchaudio/pipelines/_wav2vec2/aligner.py
Owners: @pytorch/team-audio-core

2026-01-26 nightly release (96200d42e795098ee5e3f0106bcf9c370cf126a1)
  src/torchaudio/transforms/_transforms.py
Owners: @pytorch/team-audio-core

Create py.typed
  src/torchaudio/py.typed
Owners: @pytorch/team-audio-core

Handle non-UTF-8 metadata in audio file stream info
  src/torchaudio/_torchcodec.py
Owners: @pytorch/team-audio-core

Include file path in audio loading error messages
  src/torchaudio/__init__.py
  src/torchaudio/_torchcodec.py
Owners: @pytorch/team-audio-core

Fix WavLM compute_bias to create tensors on model device
  src/torchaudio/models/wav2vec2/wavlm_attention.py
Owners: @pytorch/team-audio-core

[typo:priviledge] Fix 'priviledge' -> 'privilege' in comments and documentation
  docs/source/build.jetson.rst
  examples/avsr/data_prep/tools/README.md
Owners: @pytorch/team-audio-core, @mpc001

Update test-infra refs
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
  .github/workflows/integration-test.yml
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-macos-cpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Update version
  version.txt
Owners: @pytorch/team-audio-core

[Release 2.11] update test-infra refs and version (#4178)
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
  .github/workflows/integration-test.yml
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-macos-cpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
  version.txt
Owners: @pytorch/team-audio-core

Revert "Revert "Add dual s3/r2 upload to torchaudio (#4127)" (#4144)"
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Owners: @pytorch/team-audio-core

2026-02-20 nightly release (11ed3578e70404c7329f219b02d78b7a89603ebe)
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build_wheels_aarch64_linux.yml
  .github/workflows/build_wheels_linux.yml
  .github/workflows/build_wheels_windows.yml
Owners: @pytorch/team-audio-core

[AI Codemod][DevmateXplatTypoFixes] fbsource//xplat/pytorch/audio:src-tree
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
Owners: @mthrok

add preprocessor script for the windows build
  packaging/vc_env_helper.bat
Owners: @pytorch/team-audio-core

2026-04-01 nightly release (c0cbdb95674556cdff7266f2d44bb855f634cfde)
  packaging/vc_env_helper.bat
Owners: @pytorch/team-audio-core

Use non-persistent buffers for recomputable transform state
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/transforms/transforms_test.py
Owners: @pytorch/team-audio-core

fix: use persistent=False for recomputable buffers in transforms
  src/torchaudio/transforms/_transforms.py
Owners: @pytorch/team-audio-core

Declare torch as a runtime dependency
  setup.py
Owners: @pytorch/team-audio-core

[AI Codemod][DevmateXplatTypoFixes] xplat/pytorch/audio/src/torchaudio/models/wav2vec2/wavlm_attention.py
  src/torchaudio/models/wav2vec2/wavlm_attention.py
Owners: @pytorch/team-audio-core

Initial support for complex input Tensor in Griffin-Lim phase estimation algorithm
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
Owners: @pytorch/team-audio-core

Bug fixes in functional Griffin-Lim code: angles variable should be complex dtype (tested code)
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Annotate kaldi.vtln_warp_mel_freq low_freq as float for TorchScript
  src/torchaudio/compliance/kaldi.py
Owners: @pytorch/team-audio-core

Fix invalid TimeStretch example in transforms doc
  docs/source/transforms.rst
Owners: @pytorch/team-audio-core

Create py.typed
  py.typed
Owners: @pytorch/team-audio-core

Fix CUCTC top-k shared memory offset
  src/libtorchaudio/cuctc/src/ctc_prefix_decoder_kernel_v2.cu
  test/torchaudio_unittest/models/decoder/cuda_ctc_decoder_test.py
Owners: @pytorch/team-audio-core

ci: declare contents:read on Lint workflow
  .github/workflows/lint.yml
Owners: @pytorch/team-audio-core

fix OOB in cuda_ctc_decoder
  src/libtorchaudio/cuctc/src/ctc_prefix_decoder_kernel_v2.cu
  test/torchaudio_unittest/models/decoder/cuda_ctc_decoder_test.py
Owners: @pytorch/team-audio-core

Fix #2867
  soundfile_backend.py
  soundfile_backend_original.py
Owners: @pytorch/team-audio-core

Fix #3059
  audio-clone/src/torchaudio/transforms/_transforms.py
  fix-issue-3059/transforms.py
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
