Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

Revert mistaken deletion of deprecation test
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Allow tests to be run from any directory
  test/torchaudio_unittest/common_utils/kaldi_utils.py
Owners: @pytorch/team-audio-core

Correct filepath name
  test/torchaudio_unittest/common_utils/kaldi_utils.py
Owners: @pytorch/team-audio-core

Fix asset directory location
  test/torchaudio_unittest/common_utils/kaldi_utils.py
Owners: @pytorch/team-audio-core

Allow tests to run from anywhere
  test/torchaudio_unittest/common_utils/sox_utils.py
Owners: @pytorch/team-audio-core

Fix mfcc_from_waveform issue
  test/librosa_mock.py
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_0_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_0_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_1_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_1_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_2.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_2_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cpu_test.py__TestTransforms__test_mfcc_2_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_0_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_0_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_1_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_1_1.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_2.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_2_0.pt
  test/torchaudio_unittest/assets/librosa_expected_results/test/torchaudio_unittest/transforms/librosa_compatibility_cuda_test.py__TestTransforms__test_mfcc_2_1.pt
  test/torchaudio_unittest/transforms/librosa_compatibility_test_impl.py
Owners: @pytorch/team-audio-core

Disable generation again
  test/librosa_mock.py
Owners: @pytorch/team-audio-core

Re-generate sox files
  test/torchaudio_unittest/common_utils/sox_utils.py
Owners: @pytorch/team-audio-core

[Torchaudio] allow masked_value to be tensor (#4015)
  src/torchaudio/functional/functional.py
  src/torchaudio/transforms/_transforms.py
  test/torchaudio_unittest/functional/functional_impl.py
Owners: @pytorch/team-audio-core

[STABLE FORCED_ALIGN ABI PORT] Make alphas_a standard C array in forced_align (#4020)
  src/libtorchaudio/forced_align/cpu/compute.cpp
Owners: @pytorch/team-audio-core

2025-08-09 nightly release (e500f0cf88bc57ffd8b0029033da305eef24ae25)
  examples/tutorials/squim_tutorial.py
  src/libtorchaudio/forced_align/cpu/compute.cpp
Owners: @mthrok, @pytorch/team-audio-core

[COMPARISON TESTS] Replace tests comparing functionality to sox with hard coded results. (#4017)
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_allpass.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_band_with_noise.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_band_without_noise.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_bandpass_with_csg.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_bandpass_without_csg.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_bandreject.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_bass.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_contrast.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_dcshift_with_limiter.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_dcshift_without_limiter.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_deemph.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_dither.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_dither_noise.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_equalizer.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_flanger_sine_linear.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_flanger_sine_quad.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_flanger_triangle_linear.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_flanger_triangle_quad.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_gain.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_highpass.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_lowpass.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_overdrive.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_perf_biquad_filtering.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_phaser_sine.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_phaser_triangle.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_riaa.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/functional/sox_compatibility_test.py__TestFunctionalFiltering__test_treble.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_fade_0_q.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_fade_1_h.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_fade_2_t.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_vad_0_vad_go_stereo_44100_wav.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_vad_1_vad_go_mono_32000_wav.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_vol_0_amplitude.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_vol_1_db.wav
  test/torchaudio_unittest/assets/sox_expected_results/test/torchaudio_unittest/transforms/sox_compatibility_test.py__TestFunctionalFiltering__test_vol_2_power.wav
  test/torchaudio_unittest/common_utils/sox_utils.py
  test/torchaudio_unittest/functional/sox_compatibility_test.py
  test/torchaudio_unittest/transforms/sox_compatibility_test.py
Owners: @pytorch/team-audio-core

Remove dangling reference to TACOTRON2_WAVERNN_PHONE_LJSPEECH
  examples/tutorials/tacotron2_pipeline_tutorial.py
Owners: @mthrok

Remove last trace of librosa in tutorials (#4029)
  examples/tutorials/audio_feature_extractions_tutorial.py
Owners: @mthrok

[STABLE FORCED_ALIGN ABI PORT] Convert backptr to standard array (#4021)
  src/libtorchaudio/forced_align/cpu/compute.cpp
Owners: @pytorch/team-audio-core

Add error to show test is not being built
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
Owners: @mthrok

Revert "Add error to show test is not being built"
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
Owners: @mthrok

[TUTORIAL DEPENDENCY REMOVAL] Add cuda_ctc_decoder_tutorial to sphinx ignore regexp (#4026)
  docs/source/conf.py
Owners: @pytorch/team-audio-core

generalize ffmpeg cmake for linux distros
  third_party/ffmpeg/single/CMakeLists.txt
Owners: @pytorch/team-audio-core

fix: use list instead of string
  third_party/ffmpeg/single/CMakeLists.txt
Owners: @pytorch/team-audio-core

Remove sox
  CMakeLists.txt
  docs/source/sox_effects.rst
  docs/source/torchaudio.rst
  docs/source/utils.rst
  examples/libtorchaudio/CMakeLists.txt
  src/libtorchaudio/sox/CMakeLists.txt
  src/libtorchaudio/sox/effects.cpp
  src/libtorchaudio/sox/effects.h
  src/libtorchaudio/sox/effects_chain.cpp
  src/libtorchaudio/sox/effects_chain.h
  src/libtorchaudio/sox/io.cpp
  src/libtorchaudio/sox/io.h
  src/libtorchaudio/sox/pybind/pybind.cpp
  src/libtorchaudio/sox/types.cpp
  src/libtorchaudio/sox/types.h
  src/libtorchaudio/sox/utils.cpp
  src/libtorchaudio/sox/utils.h
  src/torchaudio/sox_effects/__init__.py
  src/torchaudio/sox_effects/sox_effects.py
Owners: @pytorch/team-audio-core

Use non-sox deprecated value for xfail deprecation test
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Remove sox part of extensions
  src/torchaudio/__init__.py
  src/torchaudio/_extension/utils.py
Owners: @pytorch/team-audio-core

Remove sox reference from extension init file
  src/torchaudio/_extension/__init__.py
Owners: @pytorch/team-audio-core

Fix arguments to torchscript deprecation test
  test/torchaudio_unittest/deprecation_test.py
Owners: @pytorch/team-audio-core

Remove sox_utils and sox _backend
  src/torchaudio/_backend/sox.py
  src/torchaudio/_backend/utils.py
  src/torchaudio/backend/sox_io_backend.py
  src/torchaudio/utils/__init__.py
  src/torchaudio/utils/sox_utils.py
  test/torchaudio_unittest/common_utils/case_utils.py
Owners: @pytorch/team-audio-core

Remove building sox extension
  tools/setup_helpers/extension.py
Owners: @pytorch/team-audio-core

Remove libtorio ffmpeg from cmakelists
  CMakeLists.txt
Owners: @pytorch/team-audio-core

Remove sox references in backend and apply_effect
  src/torchaudio/backend/__init__.py
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

remove sox_utils test
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
  test/torchaudio_unittest/functional/sox_compatibility_test.py
  test/torchaudio_unittest/utils/sox_utils_test.py
Owners: @pytorch/team-audio-core

Remove references to apply_codec
  docs/source/functional.rst
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/functional.py
Owners: @pytorch/team-audio-core

Remove io directory
  docs/source/io.rst
  src/torchaudio/io/__init__.py
  src/torchaudio/io/_effector.py
  src/torchaudio/io/_playback.py
Owners: @pytorch/team-audio-core

Remove skipIfNoSox
  test/torchaudio_unittest/transforms/sox_compatibility_test.py
Owners: @pytorch/team-audio-core

2025-08-12 nightly release (bdb88e1d66f272cad72156c90ac8428ca61a601c)
  docs/source/conf.py
  examples/tutorials/audio_feature_extractions_tutorial.py
  src/libtorchaudio/forced_align/cpu/compute.cpp
Owners: @pytorch/team-audio-core, @mthrok

[TUTORIAL DEPENDENCY REMOVAL] Use char-based pipeline instead of phoneme one for tacotron tutorial (#4028)
  examples/tutorials/tacotron2_pipeline_tutorial.py
Owners: @mthrok

Remove external dependencies for tutorials
  docs/requirements-tutorials.txt
Owners: @pytorch/team-audio-core

Remove cython from tutorial deps
  docs/requirements-tutorials.txt
Owners: @pytorch/team-audio-core

Use explicit seed and only generate on cpu
  test/torchaudio_unittest/functional/kaldi_compatibility_test_impl.py
Owners: @pytorch/team-audio-core

Ignore tests for sox deprecation
  src/torchaudio/_internal/module_utils.py
Owners: @pytorch/team-audio-core

Undo accidental removal of sox_utils
  src/torchaudio/utils/__init__.py
  src/torchaudio/utils/sox_utils.py
Owners: @pytorch/team-audio-core

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok
