Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok

Remove fsspec install
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Install torch with pip
  .github/scripts/unittest-windows/environment.yml
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Invoke pip through conda
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Remove conda activate from windows run test
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Change removal tense
  README.md
  docs/source/index.rst
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  src/torchaudio/_torchcodec.py
Owners: @pytorch/team-audio-core, @mthrok

Try alternate conda run commands
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Disable torchscript tests for windows
  .github/scripts/unittest-windows/run_test.sh
Owners: @pytorch/team-audio-core

Change removal tense (#4084)
  README.md
  docs/source/index.rst
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  src/torchaudio/_torchcodec.py
Owners: @pytorch/team-audio-core, @mthrok

Remove the apply_codec function (#4082)
  docs/source/functional.rst
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/functional.py
  test/torchaudio_unittest/functional/functional_cpu_test.py
Owners: @pytorch/team-audio-core

[DEBUG] setup_env.sh issue in activating conda environment
  .github/scripts/unittest-windows/setup_env.sh
  .github/workflows/unittest-windows-cpu.yml
Owners: @pytorch/team-audio-core

Fix conda path to use _conda.exe
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

disable silent miniconda installation
  .github/scripts/unittest-windows/install_conda.bat
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

undo last commit
  .github/scripts/unittest-windows/install_conda.bat
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Use previous version of miniconda
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Use py3.9 of miniconda
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Peak into Lib
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Move /S to the end in starting installer.
  .github/scripts/unittest-windows/install_conda.bat
Owners: @pytorch/team-audio-core

Show errorlevel.
  .github/scripts/unittest-windows/install_conda.bat
Owners: @pytorch/team-audio-core

2025-09-03 nightly release (a4512ffb5540616c649cb58462ebc613e6a8f443)
  .github/scripts/unittest-linux/run_test.sh
  README.md
  docs/source/build.jetson.rst
  docs/source/build.linux.rst
  docs/source/build.rst
  docs/source/build.windows.rst
  docs/source/functional.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/torchaudio.rst
  docs/source/utils.rst
  examples/tutorials/asr_inference_with_cuda_ctc_decoder_tutorial.py
  examples/tutorials/ctc_forced_alignment_api_tutorial.py
  packaging/torchaudio/meta.yaml
  src/torchaudio/_torchcodec.py
  src/torchaudio/functional/__init__.py
  src/torchaudio/functional/functional.py
  test/torchaudio_unittest/README.md
  test/torchaudio_unittest/assets/sox_effect_test_args.jsonl
  test/torchaudio_unittest/functional/functional_cpu_test.py
Owners: @pytorch/team-audio-core, @mthrok

Use Power-Shell Start-Process
  .github/scripts/unittest-windows/install_conda.bat
Owners: @pytorch/team-audio-core

Use shorted /D argument
  .github/scripts/unittest-windows/install_conda.bat
Owners: @pytorch/team-audio-core

rename conda_dir
  .github/scripts/unittest-windows/install_conda.bat
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Shorten conda_dir
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Use miniconda v24.11
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Check diskspace
  .github/scripts/unittest-windows/install_conda.bat
Owners: @pytorch/team-audio-core

Try miniforge.
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Add check path length
  .github/scripts/unittest-windows/install_conda.bat
Owners: @pytorch/team-audio-core

Check if curl is downloading anything
  .github/scripts/unittest-windows/install_conda.bat
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Use curl -L
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Use curl -L
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Add numpy dependency
  .github/scripts/unittest-windows/install.sh
Owners: @pytorch/team-audio-core

Fix typo.
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Remove -L to be sure it is needed
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Enable -L and use miniconda
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Revise example files
  examples/libtorchaudio/CMakeLists.txt
  examples/libtorchaudio/README.md
  examples/libtorchaudio/speech_recognition/README.md
  examples/self_supervised_learning/data_modules/__init__.py
Owners: @pytorch/team-audio-core, @nateanl

Add example readme
  examples/README.md
Owners: @pytorch/team-audio-core

Clean up
  .github/scripts/unittest-windows/install_conda.bat
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core

Turn CUTC on by default
  .github/scripts/unittest-windows/run_test.sh
  .github/workflows/unittest-windows-gpu.yml
  CMakeLists.txt
Owners: @pytorch/team-audio-core

Make CUTC enabled only for windows cuda builds, not everywhere
  .github/workflows/unittest-windows-gpu.yml
  CMakeLists.txt
Owners: @pytorch/team-audio-core

Clean up 2
  .github/scripts/unittest-windows/setup_env.sh
Owners: @pytorch/team-audio-core
