Repository pytorch/audio, changes with the owners that CODEOWNERS names for each.
All owners: @pytorch/team-audio-core, @mpc001, @hwangjeff, @nateanl, @mthrok

CODEOWNERS:

# Fallback
*       @pytorch/team-audio-core

/examples/avsr                          @mpc001
/examples/asr                           @hwangjeff
/examples/self_supervised_learning      @nateanl
/examples/dnn_beamformer                @nateanl
/examples/hubert                        @nateanl
/examples/tutorials                     @mthrok
/torchaudio                             @mthrok

Use pip instead of pip3 in case conda likes that better
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Turn off build isolation
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Use miniforge for conda and enable windows unit-testing in CI (#4085)
  .github/scripts/unittest-windows/environment.yml
  .github/scripts/unittest-windows/install.sh
  .github/scripts/unittest-windows/run_test.sh
  .github/scripts/unittest-windows/setup_env.sh
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
Owners: @pytorch/team-audio-core

Note references to torchaudio.info (#4087)
  examples/dnn_beamformer/README.md
  examples/hubert/README.md
Owners: @nateanl

Remove image_utils and PIL reference (#4088)
  CONTRIBUTING.md
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/image_utils.py
Owners: @pytorch/team-audio-core

Clarify load and save behavior (#4089)
  docs/source/torchaudio.rst
Owners: @pytorch/team-audio-core

Enable MacOS M1 CI unittests
  .github/workflows/unittest-macos-cpu.yml
Owners: @pytorch/team-audio-core

Restore uses.
  .github/workflows/unittest-macos-cpu.yml
Owners: @pytorch/team-audio-core

Skip librosa tests due to minor inaccuracy issues
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-macos-cpu.yml
Owners: @pytorch/team-audio-core

OT: Fix windows CPU CI title
  .github/workflows/unittest-windows-cpu.yml
Owners: @pytorch/team-audio-core

2025-09-05 nightly release (83df5d75fdfcfbfa5dbd144239a2a080d9da5ea6)
  .github/scripts/unittest-windows/environment.yml
  .github/scripts/unittest-windows/install.sh
  .github/scripts/unittest-windows/run_test.sh
  .github/scripts/unittest-windows/setup_env.sh
  .github/workflows/unittest-linux-cpu.yml
  .github/workflows/unittest-linux-gpu.yml
  .github/workflows/unittest-windows-cpu.yml
  .github/workflows/unittest-windows-gpu.yml
  CONTRIBUTING.md
  docs/source/torchaudio.rst
  examples/dnn_beamformer/README.md
  examples/hubert/README.md
  test/torchaudio_unittest/common_utils/__init__.py
  test/torchaudio_unittest/common_utils/image_utils.py
Owners: @pytorch/team-audio-core, @nateanl

Apply suggestions from code review
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Enable MacOS M1 CI unittests (#4091)
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-macos-cpu.yml
  .github/workflows/unittest-windows-cpu.yml
Owners: @pytorch/team-audio-core

Add dispatcher for mac core loop
  src/torchaudio/functional/filtering.py
Owners: @pytorch/team-audio-core

Enable integration tests
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Add quotes to conda install
  .github/workflows/build_docs.yml
Owners: @pytorch/team-audio-core

Add numpy
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Install wheel
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Disable cuda build for integration test
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Use BUILD_DOCS configuration
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Use pytorch infra runner
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Use nightly torch
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Install test deps
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Fix job name
  .github/workflows/integration-test.yml
Owners: @pytorch/team-audio-core

Remove scipy torchcodec hack
  .github/scripts/unittest-linux/install.sh
  .github/workflows/unittest-linux-cpu.yml
  test/torchcodec/decoders.py
  test/torchcodec/encoders.py
Owners: @pytorch/team-audio-core

Install torchcodec
  .github/scripts/unittest-linux/install.sh
Owners: @pytorch/team-audio-core

2025-09-06 nightly release (3f90600fc287b276979ff2c8550a61d5d896bb8d)
  .github/scripts/unittest-linux/run_test.sh
  .github/workflows/unittest-macos-cpu.yml
  .github/workflows/unittest-windows-cpu.yml
Owners: @pytorch/team-audio-core

Enable bandit CI workflow
  .github/workflows/bandit.yml
Owners: @pytorch/team-audio-core

Fix disabled pr-labels CI workflow
  .github/workflows/pr-labels.yml
Owners: @pytorch/team-audio-core

Fix typo
  .github/workflows/bandit.yml
Owners: @pytorch/team-audio-core

Fix disabled pr-labels CI workflow (#4097)
  .github/workflows/pr-labels.yml
Owners: @pytorch/team-audio-core

Switch to python 3.11. Remove mypy section.
  .github/workflows/lint.yml
Owners: @pytorch/team-audio-core

Replace build_docs workflow with docs workflow (copied from torchvision)
  .github/workflows/build_docs.yml
  .github/workflows/docs.yaml
Owners: @pytorch/team-audio-core

Fix paths to docs requirements
  .github/workflows/docs.yaml
Owners: @pytorch/team-audio-core

torchaudio updates
  .github/workflows/docs.yaml
Owners: @pytorch/team-audio-core

Add missing scripts
  packaging/check_glibcxx.py
  packaging/fake_smoke_test.py
  packaging/helpers.sh
  packaging/post_build_script.sh
  packaging/pre_build_script.sh
Owners: @pytorch/team-audio-core

Use v4.3.0 download-artifact
  .github/workflows/docs.yaml
Owners: @pytorch/team-audio-core

Fix paths to audio
  .github/workflows/docs.yaml
Owners: @pytorch/team-audio-core

Remove unneeded scripts
  .github/workflows/docs.yaml
  packaging/check_glibcxx.py
  packaging/fake_smoke_test.py
  packaging/helpers.sh
  packaging/post_build_script.sh
  packaging/pre_build_script.sh
Owners: @pytorch/team-audio-core

Simplify docs workflow
  .github/workflows/docs.yaml
Owners: @pytorch/team-audio-core
